$primary-color: #292B2C;
:host {
    background: $primary-color;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $primary-color;
    color: #fff;
    transition: all 0.3s;
}

.sidebar {
    color: #fff;
    transition: all 0.3s;
    &.sidebar-normal {
        &.active {
            margin-left: -250px;
        }
    }
    &.sidebar-overlay {
        width: 250px;
        position: fixed;
        top: 0;
        height: 100vh;
        z-index: 999;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        overflow: visible;
        &.active {
            left: 0px;
        }
    }
    &.sidebar-compress {
        min-width: 250px;
        max-width: 250px;
        transition: all 0.3s;
        &.active {
            min-width: 80px;
            max-width: 80px;
            text-align: center;
            .sidebar-header {
                h3 {
                    display: none;
                }
            }
            .list-unstyled.components {
                p {
                    display: none;
                }
                li {
                    a::before {
                        display: none;
                    }
                }
            }
        }
    }
    .sidebar-header {
        padding: 20px; // background: #6d7fcc;
    }
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $primary-color;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #7386D5;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .sidebarCollapse span {
        display: none;
    }
}