<div class="col-md-12">
    <div class="row">
        <div class="col-md-5">
            <form (ngSubmit)="resetPassword()" class="frmStyle">
                <div class="row">
                    <div class="col-md-12">
                        <input [(ngModel)]="newPassword" type="password" name="newPassword" placeholder="New Password" class="inptbx">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input [(ngModel)]="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password" class="inptbx">
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-lg lg_btn">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>