<div class="col-md-12">
    <div class="row">
        <div class="col-md-5">
            <form (ngSubmit)="login()" class="frmStyle">

                <div class="row">
                    <div class="col-md-12">
                        <input [(ngModel)]="username" type="text" name="usrname" placeholder="Username" class=" inptbx">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input [(ngModel)]="password" type="password" name="password" placeholder="Password" class="inptbx">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-lg lg_btn">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" >
                        <p (click)="onForgotPasswordClick()" class="forgot-password-container" >Forgot your password?</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>