<div class="container">
  <!-- Content here -->
  <div class="row my-3">
    <div class="col-12">
      <div class="card" *ngIf="isLoading">
        <h4 class="card-header">Loading...</h4>
        <div class="card-block mx-auto">
          <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-6 my-3" *ngFor="let item of repos;let i = index;">
      <div class="card h-100">
        <div class="card-block">
          <h4 class="card-title">{{item.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{item.full_name}}</h6>
          <p class="card-text">{{item.description}}</p>
          <a [href]="item.html_url" target="blank" class="card-link">Github link</a>
        </div>
      </div>
    </div>
  </div>

  <app-toast [message]="toast.message"></app-toast>

  <div class="card" *ngIf="!isEditing">
    <h4 class="card-header">Form</h4>
    <div class="card-block">
      <form class="form-inline" [formGroup]="addCatForm" (ngSubmit)="addCat()" style="text-align:center">
        <div class="form-group">
          <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="age" formControlName="age" placeholder="Age" min="0">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="weight" formControlName="weight" placeholder="Weight" step="any" min="0">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
      </form>
    </div>
  </div>


</div>