<div>
  <div class="row my-3" *ngIf="isLoading">
    <div class="col-12">
      <div class="card">
        <h4 class="card-header">Fetching Github Repos...</h4>
        <div class="card-block mx-auto">
          <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-info navbar-btn pull-right" (click)="globalService.toggleSidebar()">
        <span>Toggle Sidebar</span>
      </button>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-6 my-3" *ngFor="let item of repos;let i = index;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{item.name}}</h4>
          <p class="card-text">{{item.full_name}}</p>
          <!--<p class="card-text">{{item.description}}</p>-->
          <a [href]="item.html_url" target="_blank" class="btn btn-primary">Github link</a>
        </div>
      </div>
    </div>
  </div>

  <app-toast [message]="toast.message"></app-toast>

  <div class="card" *ngIf="!isEditing">
    <h4 class="card-header">Form</h4>
    <div class="card-block">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleSelect1">Example select</label>
          <select class="form-control" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
        </div>
        <div class="form-group">
          <label for="exampleSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Example textarea</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <fieldset class="form-group">
          <legend>Radio buttons</legend>
          <div class="form-check">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Option one is this and that&mdash;be sure to include why it's great
      </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        Option two can be something else and selecting it will deselect option one
      </label>
          </div>
          <div class="form-check disabled">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
        Option three is disabled
      </label>
          </div>
        </fieldset>
        <div>
          <div class="form-group">
            <sq-datetimepicker name="date-input" [options]="options"></sq-datetimepicker>
          </div>
        </div>
        <div>
          <div class="form-group">
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
              <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-check">
          <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
          #search [formControl]="searchControl">
      </div>
    </div>
    <div class="col-12">
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
  </div>

</div>